element.style {
}
.indexPart1Pic {
    margin-top: 30px;
    position: relative;
    height: 625px;
}
div {
    margin: 0 auto;
    padding: 0;
}
user agent stylesheet
div {
    display: block;
}
body {
    font-family: "Microsoft YaHei", "微软雅黑", "SimSun", "宋体";
    width: auto;
    min-width: 1210px;
    background-color: transparent;
}
body {
    color: #666666;
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
    font-size: 12px;
    background-color: #ffffff;
}
user agent stylesheet
html {
    color: -internal-root-color;
}
::selection {
    background: #fe6903;
    color: #ffffff;
}element.style {
}
.indexPart1Pic .prev {
    position: absolute;
    width: 22px;
    height: 44px;
    display: block;
    background: url(../images/nimg22_left.png) no-repeat;
    left: 50%;
    margin-left: -650px;
    z-index: 22;
    top: 50%;
    margin-top: -22px;
}
a:active, a:focus, a {
    outline: none;
}
a {
    text-decoration: none;
    color: #666;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
body {
    font-family: "Microsoft YaHei", "微软雅黑", "SimSun", "宋体";
    width: auto;
    min-width: 1210px;
    background-color: transparent;
}
body {
    color: #666666;
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
    font-size: 12px;
    background-color: #ffffff;
}
user agent stylesheet
html {
    color: -internal-root-color;
}
::selection {
    background: #fe6903;
    color: #ffffff;
}
element.style {
}
div {
    margin: 0 auto;
    padding: 0;
}
user agent stylesheet
div {
    display: block;
}
body {
    font-family: "Microsoft YaHei", "微软雅黑", "SimSun", "宋体";
    width: auto;
    min-width: 1210px;
    background-color: transparent;
}
body {
    color: #666666;
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
    font-size: 12px;
    background-color: #ffffff;
}
user agent stylesheet
html {
    color: -internal-root-color;
}
::selection {
    background: #fe6903;
    color: #ffffff;
}
element.style {
overflow: hidden;
    position: relative;
    width: 1196px;
}

div {
    margin: 0 auto;
    padding: 0;
}
user agent stylesheet
div {
    display: block;
}
body {
    font-family: "Microsoft YaHei", "微软雅黑", "SimSun", "宋体";
    width: auto;
    min-width: 1210px;
    background-color: transparent;
}
body {
    color: #666666;
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
    font-size: 12px;
    background-color: #ffffff;
}
user agent stylesheet
html {
    color: -internal-root-color;
}
::selection {
    background: #fe6903;
    color: #ffffff;
}